// *{
//     border: 1px solid red;
// }
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
header {
  height: 150px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 130px;
  height: 130px;
  margin-left: 50px;
}
.navigation {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  a {
    color: #c3c4c5;
  }
}
.main {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.counter {
  width: 800px;
}

@mixin details {
  color: #737373;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.main__information {
  width: 58%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.details {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-items: left;

  .details__open {
    @include details;
  }
  .details__reservation {
    @include details;
  }
  .details__address {
    @include details;
  }
}

.map {
  width: 800px;
  height: 400px;
  margin-bottom: -50px;
}

footer {
  background-color: #353a3f;
  display: flex;
  flex-direction: column;
  height: 300px;
  color: white;
  a {
    color: #3f7dc8;
  }
}

.footer__nav {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 1rem;
  gap: 1rem;
}
.hashtag {
  display: flex;
  font-size: 1.5rem;
}

.main__third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general {
  color: e2e8e8;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;

  .general__details {
    font-size: smaller;
  }
}

@mixin box {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f1f2;
  margin-bottom: 20px;
}
.coffee {
  color: #6c6d6e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  .coffee__first,
  .coffee__second,
  .coffee__third,
  .coffee__fourth {
    @include box;
  }
}

.coffee img {
  width: 100%;
}
.ingredients {
  font-style: italic;
}
.description {
  padding: 10px;
}

.menu__section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu__name {
  font-size: 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.espresso__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 5rem;
}
.espresso__title {
  font-size: 1.5rem;
}

.iced__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 5rem;
}

.iced__title {
  font-size: 1.5rem;
}

.filter__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 5rem;
}

.filter__title {
  font-size: 1.5rem;
}

.hot__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 5rem;
}

.hot__title {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0;
  gap: 1rem;
}

.nonalco__section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.nonalco__name {
  font-size: 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

.columns2 {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.lemonades__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 5rem;
}
.lemonades__title {
  font-size: 1.5rem;
}

.water__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 5rem;
}

.water__title {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0;
  gap: 1rem;
}

.espresso__machine img {
  display: flex;
  width: 80%;
  height: 100%;
}

.espresso__machine {
  display: flex;
  justify-content: center;
  margin-bottom: -3%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .nonalco__section {
    display: none;
  }
  .column2 {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo__img img {
    margin: 0;
  }

  .logo__img {
    height: 80%;
  }

  .navigation {
    margin-left: 10%;
  }
}
@media (max-width: 800px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo__img img {
    margin: 0;
  }
  .logo__img {
    height: 80%;
  }
  .navigation {
    margin-left: 10%;
  }
  .main__information,
  .counter,
  .details,
  .map {
    width: 100%;
  }
}
