html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
header {
  height: 150px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 130px;
  height: 130px;
  margin-left: 50px;
}
.navigation {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  a {
    color: grey;
  }
}
main {
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}
.counter {
  width: 800px;
}

@mixin details {
  color: grey;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
}
.details {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .details__open {
    @include details;
  }
  .details__reservation {
    @include details;
  }
  .details__address {
    @include details;
  }
}

.map {
  width: 800px;
  height: 400px;
}
